create_db.py
.dockerignore
# Ignora le cartelle di cache di Python
__pycache__/
# Ignora le cartella instance di Python
/instance/

*.pyc
*.sqlite3
__pycache__/app.cpython-313.pyc
app/config.py
config.py
YoutubeChannel.txt
.env
