blinker
click
colorama
Flask
Flask-Cors
Flask-Login
Flask-SQLAlchemy
greenlet
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
pytest
pytest-flask
setuptools==78.1.1
six
SQLAlchemy
typing_extensions
Werkzeug
wheel==0.45.1
